body {
    font-family: Rockwell;
    margin: auto;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #B9B7B6;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dddddd;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;

}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #C7E7F3;

}

.dropdown:hover .dropdown-content {
    display: block;

}
header{
    display: flex;
    justify-content: space-around;
    background-color: #214559;
    align-items: center;
    color: white;
    height: 100px;
}

footer{
    background-color: #78B88F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
}
.logo{
    width: 75px;
    height: 75px;
}
.logotekst{
    display: flex;
    align-items: center;
}
h1{
    margin-top: 50px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 100px;
}
#child {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust width as needed */
}
button[type=submit] {
    width: 100%;
    background-color: #FF8C00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type=submit]:hover {
    background-color: #214559;
}

input[type=text], input[type=password] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
a{
    text-decoration: none;

}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
}